@import url('https://fonts.googleapis.com/css2?family=Poller+One&family=Roboto:wght@300&family=Shizuru&family=Ultra&display=swap');

:root{
    --blue: #0072b1;
    --trust: #4facfe;
    --confidence: #00f2fe;
    --lightgray: #f7f7f7de;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Background-colors */
header,
footer{
    background-color: var(--blue);
}

body{
    display: flex;
    height: auto;
    flex-direction: column;
    background-color: var(--lightgray);
}


/* Header */ 
header{
    border-bottom: 1px solid black;
    height: 4em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    
}

.links-container{
    margin-left: auto;
}

.search-btn{
    margin-left: 20px;
    width: 200px;
    height: 2.5em;
    border-radius: 10px;
    padding: 10px;
}

.logo span{
    color: black;
    font-size: 1.5em;
    padding-right: 1px;
}
.logo{
    font-size: 20px;
    color: white;
    font-family: 'Poller One', cursive;
}

/* Links */

a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding-left: 20px;
}

.skills a{
    color: black;
    font-size: 15px;
    font-weight: 600;
    padding-left: 0;
    transition: 0.07s ease;
}

.skills a:hover{
    letter-spacing: 3px;
}

.post-bottom a{
    color: black;
}




/* Main */ 

.container{
    display: grid;
    flex: 1;
    grid-template-columns: 1fr 3fr 1fr;
}

/* Profile Banner sidebar left */

.profile-banner{
    background-color: white;
    height: auto;
    width: auto;
    border: 1px solid lightslategrey;
    margin: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.profile{
    border-bottom: 1px solid lightgrey;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(var(--blue),var(--confidence));
    color: black;
    font-weight: 600;
    font-size: 1.1em;
}

.profile img{
    height: 75px;
    width: 75px;
    border-radius: 50%;
    border: 2px white solid;
}

.profile .name{
    padding: 5px 0px;
}

.profile-content{
    flex: 1;
    padding: 10px;
}

.skills ul{
    padding-left: 15px;
    padding-top: 5px;
}

.skills ul li{
    padding-top: 5px;
}

/*main*/

/*Post*/

.main .post img{
    height: auto;
    width: 50px;
    border-radius: 50%;
    border: 2px white solid;
    margin-top: 10px;
    margin-left: 10px;
}

.post{
    margin-right: 10px;
    background-color: white;
    padding-top: 10px;
    margin-top: 30px;
    margin-right: 20px;
    border-radius: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid lightslategrey;
}

.post-top{
    height: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post-top .input{
    height: 50px;
    flex: 1;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid lightslategray;
    padding: 5px;
}

.post-bottom{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 10px;
}

/*Content */

.line{
    border: 1px solid lightgrey;
    margin-top: 10px;
    width: 1090px;
}

.feeds{
    height: 76%;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.feed{
    border-radius: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    margin-right: 10px;
}

#one{
    height: 200px;
    
}

#two{
    margin-top: 20px;
    
}

.feed .post-side img{
    height: auto;
    width: 50px;
    border-radius: 50%;
    border: 2px white solid;
    margin-top: 10px;
    margin-left: 10px;
}

.feed .post-side{
    display: flex;
}

.post-side .info{
    padding-left: 10px;
    padding-top: 10px;
}

.feed .post-bottom{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.feed .post-bottom img{
    margin-top: 10px;
}

#two .post-bottom img{
    width: 100%;
    height: auto;
}


/* Sidebar: Right Navigations */

.social-container{
    padding: 20px;
    text-align: center;
    margin: 30px;
    border-radius: 10px;
}

.div{
    margin-bottom: 30px;
    font-size: 20px;
    display: flex;
}

.div img{

    border-radius: 50%;
    width: 50px;
    height: auto;
}
/*Footer */

footer{
    height: 3em;
}

.div p{
    padding-top: 10px;
    padding-left: 15px;
}


